*{
    margin: 0px;
    outline: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    background: #f4f4f5;
}

@media screen and (min-width: 990px) {
    .form-container {
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
}

.login-img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border-top-right-radius: 30px; */
    /* border-bottom-right-radius: 30px; */
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color:   black;
    color: white;
    border-radius:  4px;
    font-weight: bold;
}

.btn1:hover {
    background-color:   white;
    border: 1px solid;
    color: black;
}

.add_item_form, .add_user_form, .delete_user_form, .delete_item_form, .login_form, .relogin_form{
    margin-left: 500px;
}

.label{
    display:inline-block;
    width: 130px;
}

.text, .password{
    margin-top: 10px;
}

.submit{
    margin-top: 5px;
}

.logout{
    height: 40px;
    width: 7.5%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.button{
    font: bold 11px Arial;
    text-decoration: none;
    text-align: center;
    background-color: #EEEEEE;
    color: #333333;
    padding: 20px 6px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.item{
    border: 1px solid gray;
    display: inline-block;
    margin: 5px;
    width: 200px;
}

.item_row {
    border-top: 1px solid gray;
    width: 100%;
}

.item_img{
    height: 150px;
    width: 150px;
}

.link{
    text-decoration: none;
    color: black;
}


.gradient{
    background: rgb(12,182,194);
    background: linear-gradient(
        90deg, 
        rgba(12,182,194,1) 17%, 
        rgba(161,214,75,1) 100%
    );
}

header.page-header{
    height: 250px;
}

h1.header-title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    padding: 20% 0%;
}